# Temporary and log files
*.log
*.bak?
*.sqlite-journal

# Output files
.spinetoolbox/items/*/output

# Ignore files created by execution
.export-manifest.json
filter_config.json

# Local settings
.spinetoolbox/local


# Project specific

## Data files
*.gdx
.exported.json

## GAMS temp files
*.~gm
