*.log
*.bak5
.spinetoolbox/items/bb_base_sets/output/2021-03-17T11.03.00/Backbone_base_sets_to_gdx.lst
.spinetoolbox/items/backbone/output/
.spinetoolbox/items/bb_base_sets/output/2021-03-17T11.03.00/Backbone_base_sets.gdx
.spinetoolbox/items/toward_bb/output/
*.gdx
*.bak
Backbone_input_files/Backbone_base_sets_to_gdx.~gm

# Ignore files created by execution
.export-manifest.json
.spinetoolbox/items/toward_bb/output/exported.xlsx
.exported.json
